@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
margin: 0;
padding: 0;  
box-sizing: border-box;
text-decoration: none;
}
body{
    font-size: 100%;
    background-image: url('img/fundo.jpg');
    background-size: cover;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo{
height: 52px; 
}

.menu{
display: flex;
gap: 52px;
}

.menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.menu-item:hover{
    border-style: none;
    border-radius: 32px;
    background-color: rgba(236, 214, 196, 0.53);
    transition-duration: 0.6s;
}

.conteudo{
    border-top: 0.4px solid #FFF2E7; 
    margin-bottom: 78px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
    font-size: 64px;
    margin-bottom: 48px;
    margin-left: 32px;
    margin-top: 32px;
}

.paragrafo{
    color: #FFF2E7;
    text-align: left;
    font-size: 24px;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    margin-left: 24px;
    margin-bottom: 48px;
}

.formulario{   
    border-top: 0.4px solid #FFF2E7; 
    padding-top: 48px;
    padding-bottom: 48px;
    padding: 48px;
}

.perguntas{
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.opcoes label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-weight: bold; 
    align-items: center;
}

.opcoes input[type="radio"]{
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
    width: 16px;
    height: 16px;
    position: relative;
    border:1px solid #231c4c;
    display:inline-block;
    border-radius: 50px;
}

.opcoes input[type="radio"]:checked {
    background-color: #1E90FF;
}

.botao{
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 78px;
cursor: pointer;
background-color: #FFF2E7;
height: 80px;
width: 600px;
box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 24px;
color: #2F2325;

}

.botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
    transition-duration: 0.6s;
}

.resultado{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #2F2325;
    text-align: center;
    font-size: 120px;
    margin-bottom: 12px;
    padding-top: 32px;
}

.rodape{
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

.rodape-imagem{
    height: 120px;
    display: block;
    margin: 0 auto ;
}