@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Righteous&family=Sarala&display=swap');

*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(38deg, #0d0744 0%, #0459a3 100%);

}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo{
   height: 52px; 
}

.menu{
   display: flex;
   gap: 52px;
}

.menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.menu-item:hover{
    border-style: none;
    border-radius: 32px;
    background-color: rgba(236, 214, 196, 0.53);
    transition-duration: 0.6s;
}

.conteudo{
    border-top: 0.4px solid #FFF2E7; 
    margin-bottom: 48px;
}

.conteudo-principal{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin: 52px; */
    padding: 170px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-right: 32px;
}

.titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
    font-size: 162px;
}

.subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #FFF2E7;
    font-size: 28px;
    padding-right: 32px;
}

.conteudo-principal-imagem{
    width: 400px;
    height: 430px;
}

.conteudo-secundario{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-secundario-escrito{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titulo2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
    font-size: 100px;
    padding-left: 48px;
}

.subtitulo2{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #FFF2E7;
    font-size: 24px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
}

.sobrepodcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre{
    padding-top: 24px;
    padding-bottom: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #FFF2E7;
    font-size: 24px;
    margin-left: 34px;
}

.infos{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #FFF2E7;
    font-size: 24px;
    font-weight: 700;

}

.conteudo-secundario-imagem{
    height: 470px;
    border-radius: 30px ;
    margin-top: 78px;
    margin-right: 78px;
    margin-left: 52px;
}

.rodape{
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}

.rodape-imagem{
    height: 120px;
    display: block;
    margin: 0 auto ;
}